### Eclipse ###

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.target
.project
.DS_Store
.idea/*
out/
/resources/local.properties
/resources/cybs.properties
*.tar.gz
/target/*